body {

  width:2000px;
  height:2000px;

  background-image:
  url('https://i.imgur.com/dHOSOAR.png');

  background-repeat: repeat;

  background-attachment: scroll;

  background-position:

  0px 0px;

  background-size:
  1000px 500px;


}

h1{
  color: white;
}

#poem{
  background-color: black;
  color: white;
  margin: 0px auto 0px auto;
  padding: 5px;
  display: table;
  position: absolute;
  right: -810px;
  bottom: -1300px;
  width: 550px;
}

#question{
   position: absolute;
  right: -10px;
  bottom: 80px;
  color: #eb4034;
  font-size: 50px;
  background-color: #a5a2a6;
  display: table;
}

#link1{
   position: absolute;
  right: -30px;
  bottom: -550px;
  font-size: 60px;
  background-color: #a5a2a6;
  display: table;
}

#link2{
   position: absolute;
  right: -80px;
  bottom: -850px;
  font-size:40px;
  background-color: #a5a2a6;
  display: table;
}
